.blog-card {
    color: white;
    border: 1px solid transparent;
    padding: 2rem;
    border-radius: 20px;
    background: #1b1c1e;
    position: relative;
    overflow: hidden;
  }
  
 
  .blog-card:hover .blog-content,
  .blog-card:hover p {
    animation: slideUp 0.5s forwards; 
  }

  .blog-card:hover h2{
    animation: slideUp 0.5s forwards;

  }
  
  .blog-card:hover .new-tag span,
  .blog-card:hover .date-tag span {
    animation: slideSpan 0.5s forwards; 
  }

  .new-tag,
  .date-tag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    background: rgb(248, 99, 96);
    border-radius: 20px 0 0 20px;
    z-index: 1;
  }
  
  .blog-content {
    padding: 1rem;
    border-radius: 20px;
    background: rgb(36, 36, 36);
    margin-top: 2rem;
  }
  
  h2 {
    margin-bottom: 1rem; 
  }

  
  .explore-button .arrow {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .explore-button:hover {
    background: white;
    color: black;
    padding: 10px 40px; 
    width: 200px; 
  }
  
  .explore-button:hover .arrow {
    opacity: 1; 
    transform: translateX(5px); 
  }
  
  
  
  @keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20%);
    }
  }
  
  @keyframes slideSpan {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%); 
    }
  }
  

  